# https://clangd.llvm.org/config.html
CompileFlags:
    CompilationDatabase: build/debug
    Add:
        - -std=c++26
        - -Wall
        - -Wextra
        - -Wpedantic
        - -Wno-old-style-cast
        - -Icrates/**/include/**
        - -Ibuild/**/_deps/**
    Remove:
        - -fmodules-ts
        - -fmodule-mapper=*
        - -fdeps-format=*
        - -fdeps-file=*
        - -fmodule-output=*
        - -fdiagnostics-color=*
        - -MD
        - -MT*
        - -MF*

Documentation:
  CommentFormat: Doxygen

Index:
    Background: Build

Diagnostics:
    UnusedIncludes: None
    ClangTidy:
        Remove:
            - misc-include-cleaner

InlayHints:
    Enabled: true
    ParameterNames: true
    DeducedTypes: true

Hover:
    ShowAKA: true
