CompileFlags:
  CompilationDatabase: build/debug
  Add:
    - "-std=c++20"
    - "-Iinclude"
  Remove:
    - "-fdeps-format=*"
    - "-fdeps-file=*"
    - "-fmodule-output=*"
    - "-fdiagnostics-color=*"
    - "-MD"
    - "-MT*"
    - "-MF*"

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Remove:
      - misc-include-cleaner
